[user]
	email = masondeanm@aol.com
	name = Mason Mackaman
[core]
	pager = less -x1,5
	editor = nvim
[alias]
	cloners = clone --recurse-submodules
	dc = diff --cached
	ga = log --oneline --abbrev=0 --graph --all
	graph = log --oneline --abbrev=0 --graph
	wd = diff --word-diff
	wdc = diff --word-diff --cached
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
