[submodule "vim-addon-mw-utils"]
	path = vim/pack/foo/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "tlib"]
	path = vim/pack/foo/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-polyglot"]
	path = vim/pack/foo/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim-surround"]
	path = vim/pack/foo/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim-snipmate"]
	path = vim/pack/foo/opt/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "ultisnips"]
	path = vim/pack/foo/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-match"]
	path = vim/pack/foo/start/vim-match
	url = https://github.com/Ursi/vim-match.git
